.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
}

.task-title {
  cursor: pointer;
}

.task-title:hover {
  opacity: 0.8;
}

.task-title:active {
  opacity: 0.6;
}


.remove-task-button, 
.see-task-details {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: aquamarine;
  margin: 0 5px;
  cursor: pointer;
}

.remove-task-button:hover, 
.see-task-details:hover {
  opacity: 0.8;
}
.remove-task-button:active, 
.see-task-details:active {
  opacity: 0.6;
}